a {
    color: inherit;
    text-decoration: none;

}

    

    .active {
        color:#fff
    }

    .active-icon {
        color:#857295;

    }
    
    
    .sidebar {
        color:royalblue;
        font-size: large;
    }

    .sidebar p {
        margin-left: 1em;
    }

    .sidebar :hover p {
        color: #fff;
    }
    .sidebar :hover svg {
        color:#857295
    }

    .sidebar:not(:last-child) {
        margin-bottom:2em;
    }